polkit.addRule(function(action, subject) {
    if (action.id === "org.freedesktop.policykit.exec" &&
        action.lookup("program") === "/usr/local/bin/batteryhealthchargingctl-capitan" &&
        subject.user === "capitan")
    {
        return polkit.Result.YES;
    }
});
